.xwipj { 
  margin-left: 26px;
  margin-right: 97px;
  border-top-width: 72px;
  border-left-width: 76px;
  border-right-width: 23px;
  border-left-width: 75px;
  border-bottom-width: 66px;
  border-top-width: 12px;
}
