.xwipj { 
  margin-left: 26px;
  margin-right: 97px;
  border-top-width: 72px;
  border-left-width: 76px;
  border-right-width: 23px;
  border-left-width: 75px;
  border-bottom-width: 66px;
  padding-bottom: 95px;
  padding-top: 23px;
  line-height: 19px;
  border-top-width: 73px;
  margin-right: 76px;
  padding-left: 31px;
  margin-top: 55px;
  padding-left: 93px;
  border-right-width: 36px;
  margin-top: 74px;
  border-right-width: 19px;
  padding-bottom: 84px;
  margin-right: 97px;
}
