.burqx { 
  padding-bottom: 92px;
  margin-right: 53px;
  margin-left: 27px;
  font-size: 80px;
  margin-top: 79px;
  margin-left: 81px;
  margin-right: 87px;
  border-bottom-width: 26px;
  padding-bottom: 22px;
  border-bottom-width: 39px;
  margin-bottom: 67px;
}
